doctype html
html(lang='en')
  head
    title="Admin panel"
    style
        include ../css/admin_panel.css
  body
    div.container
        p.text Hello Admin!
        a.back(href="http://localhost:3000/") Log Out
        